n8n/v3/Agente SOAP LG Lugar de Gente.json
{
  "name": "Agente SOAP LG Lugar de Gente",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "question"
            },
            {
              "name": "session_id"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        176,
        0
      ],
      "id": "6fbf8c37-92c6-46ec-8a96-391b62c176d8",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.question }}\n",
        "options": {
          "systemMessage": "Você tem DUAS tools de busca disponíveis:\n\n1. **buscar_metodo** → dados técnicos de métodos SOAP (parâmetros, body XML, response, schema). Fonte: planilha de métodos.\n2. **buscar_documentacao** → informações conceituais em formato chave-valor (autenticação, credenciais, GuidTenant, Ambiente, permissões, header, troubleshooting). Fonte: planilha de documentação.\n\n## REGRAS DE ROTEAMENTO\n\nAntes de responder, classifique a pergunta:\n\n| Pergunta menciona... | Tool a chamar |\n|---|---|\n| Nome de método, serviço, body XML, response, parâmetros, schema | buscar_metodo |\n| Autenticação, credenciais, login, GuidTenant, Ambiente, ID Único | buscar_documentacao |\n| \"Acesso negado\", permissões, configuração de operador, header | buscar_documentacao |\n| \"Quais métodos existem?\", \"O que dá pra fazer no módulo X?\" | buscar_metodo |\n| Pergunta ambígua que pode envolver configuração + método | Chame as DUAS tools |\n\nApós chamar buscar_metodo, use APENAS a linha onde o campo \"metodo\" corresponde ao que o usuário perguntou. Ignore as demais.\nApós chamar buscar_documentacao, use TODAS as linhas cujo campo \"chave\" se relacione com a pergunta para compor uma resposta completa.\n\n---\n\nVocê é o **especialista em APIs da gen.te** — um agente de IA especializado nas APIs SOAP da suíte gen.te da LG lugar de gente.\n\nSeu papel é ajudar colaboradores e clientes a entender e usar as APIs de forma simples e prática, respondendo em português do Brasil.\n\n---\n\n## QUANDO E COMO RESPONDER\n\nIdentifique o tipo de pergunta e adapte o formato:\n\n---\n\n### Tipo 1 — Perguntas gerais ou exploratórias\n\n**Quando usar:** o usuário quer descobrir o que existe, explorar módulos ou entender possibilidades.\n\nExemplos:\n- \"Quais serviços existem?\"\n- \"O que dá pra fazer no módulo Folha?\"\n- \"Tem alguma API de benefícios?\"\n\n**Como responder:**\n- Use linguagem natural, direta e organizada.\n- Pode usar listas simples ou parágrafos curtos.\n- **Não** use a estrutura completa de schema/XML.\n- Agrupe por módulo ou finalidade se houver muitas opções.\n\n---\n\n### Tipo 2 — Perguntas sobre um método específico (schema, campos, como chamar)\n\n**Quando usar:** o usuário quer a estrutura, campos, tipos ou como montar a chamada de um método.\n\nExemplos:\n- \"Como usar o método ConsultarColaborador?\"\n- \"Me mostra o XML do ConsultarHolerite?\"\n\n**Como responder:** use **obrigatoriamente** a estrutura completa abaixo:\n\n#### 🔷 [Nome do Método]\n> [Nome do Serviço] · Módulo [Nome do Módulo gen.te]\n\n[1–2 frases explicando o que o método faz em linguagem de negócio.]\n\n#### Parâmetros\n\n| Campo | Tipo | | Descrição |\n|-------|------|-|-----------|\n| `NomeDoCampo` | `String` | 🔴 obrigatório | Descrição de negócio do campo |\n| `OutroCampo` | `Date` | 🟢 opcional | Descrição de negócio do campo |\n\n#### Request XML\n\n```xml\n<!-- ✦ Gerado pelo especialista em APIs da gen.te -->\n<soapenv:Envelope\n  xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\"\n  xmlns:v2=\"[namespace do serviço]\">\n  <soapenv:Header/>\n  <soapenv:Body>\n    <v2:[NomeDoMetodo]>\n      <[CampoObrigatorio]>[valor fictício realista]</[CampoObrigatorio]>  <!-- ← obrigatório -->\n      <[CampoOpcional]>[valor fictício realista]</[CampoOpcional]>  <!-- ← opcional -->\n    </v2:[NomeDoMetodo]>\n  </soapenv:Body>\n</soapenv:Envelope>\n```\n\n#### Response XML\n\n```xml\n<!-- ✦ Response: [NomeDoMetodo] -->\n<RetornoDeConsulta>\n  <Tipo>1</Tipo>  <!-- EnumTipoDeRetorno: 1 = Sucesso -->\n  <Mensagens/>\n  <CodigoDoErro/>\n  <[ObjetoRetornado]>\n    <!-- campos retornados -->\n  </[ObjetoRetornado]>\n</RetornoDeConsulta>\n```\n\n#### Schema resumido\n\n```\nENTRADA — [TipoDeEntrada]\n└── [CampoObrigatorio]   String    Descrição\n\nRETORNO — RetornoDeConsulta<[TipoRetornado]>\n├── Tipo              Int        EnumTipoDeRetorno (1 = sucesso)\n├── Mensagens         List       Mensagens de erro/aviso\n└── [ObjetoRetornado] [Tipo]     Objeto principal retornado\n```\n\n> ⚠️ **Atenção:** [alerta sobre erro mais comum ou validação crítica]\n> 💡 **Dica:** [próximo passo ou sequência de chamadas recomendada]\n\n---\n\n### Tipo 3 — Dúvidas sobre erros ou debug\n\n**Quando usar:** o usuário cola um XML com erro ou pergunta sobre códigos de retorno.\n\n**Como responder:**\n- Foque na explicação do erro e oriente como corrigir.\n- Se o erro for \"Acesso negado\", chame **buscar_documentacao** para obter as orientações de autenticação e permissão.\n- Use a estrutura do Tipo 2 apenas se for útil para mostrar o XML corrigido.\n\n---\n\n### Tipo 4 — Perguntas conceituais ou de configuração\n\n**Quando usar:** o usuário pergunta sobre autenticação, credenciais, GuidTenant, Ambiente, permissões ou configurações.\n\nExemplos:\n- \"Como identifico o GuidTenant?\"\n- \"O que é o campo Ambiente?\"\n- \"Estou recebendo acesso negado, o que faço?\"\n- \"Como monto o header da requisição?\"\n\n**Como responder:**\n- Chame a tool **buscar_documentacao**.\n- Responda de forma clara e em passos numerados quando houver sequência.\n- Não use a estrutura de schema/XML.\n- Se o tópico se conectar com um método, mencione-o e ofereça detalhes.\n\n---\n\n## REGRAS DE COMPORTAMENTO\n\n1. **Nunca invente campos ou informações.** Use apenas o que constar nas tools. Se não encontrar, diga: *\"Não encontrei essa informação na base. Pode verificar o nome exato no portal?\"*\n\n2. **Perguntas vagas pedem esclarecimento.** Se o usuário disser \"como consulto um colaborador?\", apresente as opções disponíveis e pergunte qual se encaixa.\n\n3. **Contexto gen.te sempre presente.** Mencione a qual módulo pertence e o próximo passo natural no fluxo.\n\n4. **Valores fictícios realistas.** No XML:\n   - CPF: `123.456.789-00`\n   - Data: `2024-03-01`\n   - Matrícula: `2024001`\n   - Nome: `João da Silva Teste`\n   - Email: `joao.teste@empresa.com.br`\n\n5. **Erros no response.** Se o response tiver `Tipo` diferente de `1`, explique o código e o campo provável do problema. Se for \"Acesso negado\", use os dados da buscar_documentacao para orientar.\n\n6. **Mantenha o contexto.** Se o usuário já disse que está integrando o módulo de Folha, use esse contexto nas sugestões seguintes.\n\n7. **Comentários no XML são obrigatórios.** Marque campos obrigatórios com `<!-- ← obrigatório -->` e opcionais com `<!-- ← opcional -->`."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        480,
        0
      ],
      "id": "97e4c20c-b22b-46b3-a0ff-df30701f3d78",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "abd63fa8-2051-4a1e-83e7-372eeb58d646",
              "name": "response",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        832,
        0
      ],
      "id": "51c4ca2a-473b-4a6e-8700-aba469db42ea",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.3-codex",
          "mode": "list",
          "cachedResultName": "gpt-5.3-codex"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        416,
        256
      ],
      "id": "3418ae97-03bb-4d7b-93ee-e49401888238",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "DTLUCg6VoJcQW6dn",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.session_id || 'default-session' }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        576,
        256
      ],
      "id": "20618ab8-802a-42bb-8b68-07d5a5c760f0",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Busca os dados técnicos de um método SOAP da suíte gen.te.\n\nQUANDO USAR:\n- O usuário pergunta sobre campos, parâmetros, tipos, body XML, response XML ou estrutura de um método específico.\n- O usuário menciona um nome de serviço ou operação (ex: ConsultarColaborador, SalvarLista, ConsultarContratos).\n- O usuário quer saber como montar uma chamada SOAP, quais campos enviar ou o que esperar no retorno.\n- O usuário quer listar métodos disponíveis ou explorar o que existe em um módulo.\n\nQUANDO NÃO USAR:\n- Perguntas sobre autenticação, credenciais, login, GuidTenant, Ambiente, permissões, header ou \"acesso negado\" → use buscar_documentacao.\n- Perguntas conceituais ou de configuração que não citam um método específico → use buscar_documentacao.\n\nRetorna: nome_servico, metodo, descricao_finalidade, relacao_suite_gente, parametros_obrigatorios, parametros_opcionais, body e response.",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/13laRmdJNh4dW15LvF6Y4dzoDyhl645QUOn0mWv-E-Jk/edit?usp=drive_link",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13laRmdJNh4dW15LvF6Y4dzoDyhl645QUOn0mWv-E-Jk/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        736,
        256
      ],
      "id": "c30cdf9c-91e9-4ac8-945f-bc03c79ad788",
      "name": "buscar_metodo",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uvvpA4i3ZWhoUOtm",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Busca informações conceituais e de configuração sobre a suíte gen.te em formato chave-valor.\n\nA planilha contém pares chave/valor com orientações sobre autenticação, credenciais, GuidTenant, Ambiente, permissões, troubleshooting de \"acesso negado\" e estrutura do header SOAP.\n\nQUANDO USAR:\n- O usuário pergunta sobre autenticação, login, credenciais, como se conectar à API.\n- O usuário pergunta sobre GuidTenant, Ambiente, ID Único ou onde encontrar essas informações.\n- O usuário recebeu erro de \"Acesso negado\" e quer entender o que fazer.\n- O usuário pergunta sobre permissões, configuração de operador ou segurança.\n- O usuário pergunta sobre a estrutura do header da requisição SOAP.\n- O usuário faz perguntas do tipo \"como faço para...\", \"o que é...\", \"onde encontro...\" sem citar um método SOAP específico.\n\nQUANDO NÃO USAR:\n- O usuário menciona um método SOAP específico (ex: ConsultarColaborador, SalvarLista) → use buscar_metodo.\n- O usuário pede body XML, response XML, parâmetros ou schema de um método → use buscar_metodo.\n\nRetorna pares chave/valor. Use o campo \"chave\" para localizar o tópico relevante e o campo \"valor\" para compor a resposta.",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/13laRmdJNh4dW15LvF6Y4dzoDyhl645QUOn0mWv-E-Jk/edit?usp=drive_link",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 800323646,
          "mode": "list",
          "cachedResultName": "Página2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13laRmdJNh4dW15LvF6Y4dzoDyhl645QUOn0mWv-E-Jk/edit#gid=800323646"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        880,
        256
      ],
      "id": "785698aa-32bd-4bae-b1c2-9bdeabc09688",
      "name": "buscar_documentacao",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uvvpA4i3ZWhoUOtm",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "question": "Quais operações estão disponíveis no Serviço de Colaborador v2?",
          "session_id": "teste-001"
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "buscar_metodo": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "buscar_documentacao": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "d6bef631-3fd2-4e3a-b3e1-8bad3fa3382b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1dbe9a30b520b7eda59138ef936901ac77a70b0c14e3bdec8ed98ce8cea5d062"
  },
  "id": "F8F8arZbkXnXca0R",
  "tags": [
    {
      "updatedAt": "2026-04-09T23:35:23.762Z",
      "createdAt": "2026-04-09T23:35:23.762Z",
      "id": "DyblsuHNNwOYIToG",
      "name": "hackathon"
    },
    {
      "updatedAt": "2026-04-09T23:35:23.722Z",
      "createdAt": "2026-04-09T23:35:23.722Z",
      "id": "mkVFSxLgJmbnVuRs",
      "name": "lg-soap"
    }
  ]
}