n8n/v3/api-agent-core-v2.json
{
  "name": "api-agent-core-v2",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "question"
            },
            {
              "name": "session_id"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -128,
        0
      ],
      "id": "39858d99-b017-42c3-a224-b410ee0ce36f",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.question }}\n",
        "options": {
          "systemMessage": "=Você é um especialista em APIs SOAP da LG lugar de gente. Sua função é responder perguntas sobre a documentação técnica (WSDL) dessas APIs.\n\nCATÁLOGO DE APIs DISPONÍVEIS:\n{{ $json.catalogo_texto }}\n\nREGRAS:\n1. Quando o usuário fizer uma pergunta, identifique qual(is) API(s) do catálogo são relevantes.\n2. Use a ferramenta buscar_wsdl passando o api_id correspondente para obter a documentação.\n3. Se a pergunta pode envolver mais de uma API, consulte cada uma separadamente.\n4. Responda SEMPRE em português, de forma clara e técnica.\n5. NUNCA invente operações, parâmetros ou tipos. Use SOMENTE o que a ferramenta retornar.\n6. Se a ferramenta retornar erro ou a API não existir, informe isso ao usuário.\n7. Quando a ferramenta retornar a documentação, DETALHE TODOS os campos e subcampos que foram retornados. Não resuma nem omita.\n8. Quando o usuário perguntar como consumir uma operação, inclua: o endpoint, o SOAPAction, os headers obrigatórios, todos os campos do request body com seus tipos e obrigatoriedade, e todos os campos do response body."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        480,
        0
      ],
      "id": "93edffd2-1f27-47f8-9de5-c79c09e60479",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        96,
        352
      ],
      "id": "2b7c84a7-4498-4f07-988a-950d5b882346",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "i6BuEdOLSAtV6jtZ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "abd63fa8-2051-4a1e-83e7-372eeb58d646",
              "name": "response",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        832,
        0
      ],
      "id": "a8b19767-a96c-4030-952e-ba33dfcb8665",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "description": "Busca e analisa a documentação WSDL de uma API específica da LG lugar de gente. Use esta ferramenta quando precisar ver as operações, parâmetros de entrada, parâmetros de saída ou tipos complexos de uma API. O parâmetro api_id deve ser um dos valores do catálogo fornecido no system message.",
        "workflowId": {
          "__rl": true,
          "value": "iQ16EeIfT7ynwSKW",
          "mode": "list",
          "cachedResultUrl": "/workflow/iQ16EeIfT7ynwSKW",
          "cachedResultName": "buscar-wsdl"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "api_id": "={{ $fromAI(\"api_id\", \"ID da API no catalogo\", \"string\") }}",
            "catalogo_mapa": "={{ $json.catalogo_mapa }}"
          },
          "matchingColumns": [
            "api_id"
          ],
          "schema": [
            {
              "id": "api_id",
              "displayName": "api_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "catalogo_mapa",
              "displayName": "catalogo_mapa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        704,
        208
      ],
      "id": "9ffe2cae-eadb-431a-98cb-cd4bf239923d",
      "name": "buscar_wsdl"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        464,
        192
      ],
      "id": "79a81e79-1f61-463b-b924-ee96b48234ba",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "DTLUCg6VoJcQW6dn",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.session_id || 'default-session' }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        592,
        304
      ],
      "id": "2cf40d17-6ded-4e79-87ff-d1f35d01be4b",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// CATÁLOGO CENTRAL — única fonte de verdade\n// Edite SOMENTE aqui ao adicionar novas APIs\n// ============================================\n\nconst catalogo = [\n  {\n    id: \"ServicoDeColaborador_v2\",\n    nome: \"Serviço de Colaborador (versão 2)\",\n    descricao: \"Gestão de dados do colaborador.\",\n    url: \"https://prd-api1.lg.com.br/v2/ServicoDeColaborador?wsdl\"\n  },\n  {\n    id: \"ServicoDeColaborador_v1\",\n    nome: \"Serviço de Colaborador (versão 1)\",\n    descricao: \"Versão anterior do serviço de dados do colaborador.\",\n    url: \"https://prd-api1.lg.com.br/v1/ServicoDeColaborador?wsdl\"\n  },\n  {\n    id: \"ServicoDeContratoDeTrabalho_v2\",\n    nome: \"Serviço de Contrato de Trabalho (versão 2)\",\n    descricao: \"Gestão de contratos de trabalho.\",\n    url: \"https://prd-api1.lg.com.br/v2/ServicoDeContratoDeTrabalho?wsdl\"\n  },\n  {\n    id: \"ServicoDeContratoDeTrabalho_v1\",\n    nome: \"Serviço de Contrato de Trabalho (versão 1)\",\n    descricao: \"Versão anterior do serviço de contratos.\",\n    url: \"https://prd-api1.lg.com.br/v1/ServicoDeContratoDeTrabalho?wsdl\"\n  },\n  {\n    id: \"ServicoDeReintegracao_v1\",\n    nome: \"Serviço de Reintegração (versão 1)\",\n    descricao: \"Processos de reintegração de colaborador.\",\n    url: \"https://prd-api1.lg.com.br/v1/ServicoDeReintegracao?wsdl\"\n  }\n];\n\n// Texto para o System Message\nconst catalogoTexto = catalogo\n  .map(api => `- ${api.id} — ${api.nome}. ${api.descricao}`)\n  .join('\\n');\n\n// Mapa id→url para o Resolver URL\nconst catalogoMapa = {};\nfor (const api of catalogo) {\n  catalogoMapa[api.id] = api.url;\n}\n\nconst input = $input.first().json;\n\nreturn [{\n  json: {\n    question: input.question,\n    session_id: input.session_id,\n    catalogo_texto: catalogoTexto,\n    catalogo_mapa: JSON.stringify(catalogoMapa)\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "a6568a49-27c8-4893-8c1c-985f283652ea",
      "name": "Catálogo"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "question": "Quais operações estão disponíveis no Serviço de Colaborador v2?",
          "session_id": "teste-001"
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Catálogo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscar_wsdl": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Catálogo": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "versionId": "233726a0-6dc9-42da-b098-831c1aa643ca",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1dbe9a30b520b7eda59138ef936901ac77a70b0c14e3bdec8ed98ce8cea5d062"
  },
  "id": "D9tTjme3oqQBvcsB",
  "tags": []
}