n8n/v3/api-agent-webhook-v2.json
{
  "name": "api-agent-webhook-v2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "1a6ea1e4-b775-42db-8b96-01a37e564475",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "0d2628f5-5e7d-4928-ab4e-ed5392963079",
      "name": "Webhook",
      "webhookId": "1a6ea1e4-b775-42db-8b96-01a37e564475"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ response: $json.response }) }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        416,
        0
      ],
      "id": "2582eea9-74e8-48c6-a82e-c1245af06206",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "D9tTjme3oqQBvcsB",
          "mode": "list",
          "cachedResultUrl": "/workflow/D9tTjme3oqQBvcsB",
          "cachedResultName": "api-agent-core-v2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "question": "={{ $json.body.question }}",
            "session_id": "={{ $json.body.session_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "question",
              "displayName": "question",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        208,
        0
      ],
      "id": "26d1b740-7ae2-4e80-a03f-511c8166c2f2",
      "name": "Call 'api-agent-core-v2'"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Call 'api-agent-core-v2'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'api-agent-core-v2'": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "fd3a4b5a-0f0a-4b8e-ab0a-722a8bd38b86",
  "meta": {
    "instanceId": "1dbe9a30b520b7eda59138ef936901ac77a70b0c14e3bdec8ed98ce8cea5d062"
  },
  "id": "fquBizOaKZodkcUo",
  "tags": []
}