n8n/v3/api-agent-webhook-v3.json
{
  "name": "api-agent-webhook-v3",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "f015c49f-cb0e-4537-a2df-035e10644084",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "bb1bc2d9-9061-4835-99f5-3642d5a5ca62",
      "name": "Webhook",
      "webhookId": "f015c49f-cb0e-4537-a2df-035e10644084"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ response: $json.response }) }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        416,
        0
      ],
      "id": "dc42a9b9-d85f-4486-ad00-b58c560782b1",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "F8F8arZbkXnXca0R",
          "mode": "list",
          "cachedResultUrl": "/workflow/F8F8arZbkXnXca0R",
          "cachedResultName": "Agente SOAP LG Lugar de Gente"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "question": "={{ $json.body.question }}",
            "session_id": "={{ $json.body.session_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "question",
              "displayName": "question",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        208,
        0
      ],
      "id": "489c63a3-30f3-4167-ad5f-5fbfbf07bfed",
      "name": "Call 'api-agent-core-v3'"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Call 'api-agent-core-v3'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'api-agent-core-v3'": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "bd9a9630-34ec-4347-b67c-605fc5692c10",
  "meta": {
    "instanceId": "1dbe9a30b520b7eda59138ef936901ac77a70b0c14e3bdec8ed98ce8cea5d062"
  },
  "id": "pWq68eqaV2eWQMwk",
  "tags": []
}